.errorCard {
    background-color: #fc5a5a;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.2rem;
    transition: transform 0.2s;
    font-size: 1.2rem;
    margin: 10% auto ;
    max-width: 70%;
  }